body {
  background-color: mintcream;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
  color: #0b0b0b;
    font-weight: bolder;
  margin-left: 40px;
    font-size: 40px;
}

.menu {
    background: #0f192a;
    text-align: center;
}
.item {
    color: #0f192a;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    font-family: FreeSans;
}
.text_bloc {
    color: maroon;
    background: #4a8cdb;
    font-weight: bold;
}

.menu_book {
    color: black;
    font-weight: bold;
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {

color: #1b1e21;

}


a:visited {

    color: black;

}


a:hover {

    color: #0066cc;

}


a:active {

 color: #0b0b0b;

}

.navbar-fixed-top{
    width:1200px;
    left:20%;
}